.task {
    width: 100%;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secundary);
}

.task .content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task .close {
    visibility: hidden;
    opacity: 0;
    color: var(--font-color-alt);
    cursor: pointer;
    transition: 0.2s;
}

.close:hover {
    filter: brightness(1.3);
}

.task:hover .close {
    visibility: visible;
    opacity: 1;
}

.input {
    appearance: none;
    /* min-width: 18px;
    min-height: 18px; */
    padding: 1px;
    border-radius: 100%;
    border: 1px solid var(--secundary);
    background: transparent;
    cursor: pointer;
}

.input::after {
    content:'';
    display: block;
    min-width: 20px;
    min-height: 20px;
    border-radius: 100%;
    background-color: var(--base);
    color: #fff;
    transition: 0.5s;
}

.task:hover .input {
    background: linear-gradient(130deg, #55DDFF, #C058F3);
}

.input:checked::after {
    content:'✔';
    text-align: center;
    background: linear-gradient(130deg, #55DDFF, #C058F3);
}

.title {
    color: var(--font-color);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.25px;
    transition: 0.5s;
}

:where(input:checked) + .title {
    color: var(--font-color-task-completed);
    text-decoration: line-through;
}
