.task {
    padding: 16px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #222;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input:checked {
    background-color: #ccc;
    border: 1px solid #222;
}

:is(input:checked) + .title {
    text-decoration: line-through;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

