.footer {
    /* position: absolute;
    bottom: 10px; */
    width: 100%;
    text-align: center;
    margin-top: 48px;
    color: #9495A5;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.194px;
}