* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171823;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Josefin Sans';
}

.container {
  width: 95vw;
}

.content {
  width: 100%;
  max-width: 50%;
  margin: 18px auto;
  padding: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content-void {
  width: 100%;
  min-height: 200px;
  display: grid;
  place-content: center;
  
}

.content-void span {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  text-align: center;
  color: #5B5E7E;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
