* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: var(--font-color);
  background-color: var(--background); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base: #FFFFFF;
  --font-color-active: #3A7CFD;


  --background: #FAFAFA;
  --secundary: #E3E4F1;
  --font-color: #494C6B;
  --font-color-alt: #9495A5;
  --font-color-task-completed: #D1D2DA;

}

.dark {
  --base: #25273D;
  --background: #171823;
  --secundary: #393A4B;
  --font-color: #C8CBE7;
  --font-color-alt: #5B5E7E;
  --font-color-task-completed: #4D5067;
  
}


a {
  font-weight: 500;
  color: var(--font-color-active);
  text-decoration: inherit;
}
a:hover {
  filter: brightness(1.2)
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  color: var(--font-color);
  background-color: var(--background);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Josefin Sans';
}

.container {
  width: 95vw;
}

.content {
  width: 100%;
  max-width: 50%;
  margin: 18px auto;
  padding: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 28px;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #FAFAFA;
    --secundary: #E3E4F1;
    --font-color: #494C6B;
    --font-color-alt: #9495A5;
    --font-color-task-completed: #D1D2DA;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --base: #25273D;
    --background: #171823;
    --secundary: #393A4B;
    --font-color: #C8CBE7;
    --font-color-alt: #5B5E7E;
    --font-color-task-completed: #4D5067;
  }
} */
